<h3>ParkFunにてお問い合わせがありました</h3>

------------------------------------------------
<p>返信先メールアドレス: <%= @contact.email %></p>

<p>お問い合わせ内容: <%= @contact.message %></p>

------------------------------------------------
