<div class="container">
	<div class="row">
		<div class="col-sm-3">
			<p>about</p>
		</div>
		<div class="col-sm-8">
			<p>公園を検索、レビューするサイトです。引っ越したばかりでどこに公園があるかわからない、小さい子供を連れて遊びに行く事に適している公園を探している主婦（主夫）の方などに使用していただくサイトになっています。</p>
		</div>
	</div>
</div>