<div class="container">
	<div class="row">
		<div class="col-sm-3">
			<p>about</p>
		</div>
		<div class="col-sm-8">
			公園を検索、レビューするサイトです。

			子供づれのご家族は手洗い場やトイレの有無や治安の良さが気になると思います。
			地元紹介をしているサイトLPRを使えば近くにある飲食店なども見つけることができるかも、、、

			作成背景
			引っ越したばかりでどこに公園があるかわからない、小さい子供を連れて遊びに行く事に適している公園を探している小さい子供を連れたご家族の方から大人の方までに使用していただくサイトになっており、事前に公園の情報が分かることができればより遊びに行きやすいと思い作成しました。

			具体的な使用例
			使用例の画像を作る
			こんな情報を書いてください（周辺施設、トイレ・手洗い場の有無、駐車場、どんな遊具があるか、治安の良さ、遊んでいる子供の年齢層）

			みなさんが公園を使用し、レビューを書いていただくとよりみなさんが使いやすいサイトになりますのでご協力ください。

			使用するには会員登録、ログイン　URLをつける

			お問い合わせはこちらから　URLをつける
		</div>
	</div>
</div>