<div class="container">
	<div class="row">
		<% if flash[:notice] %> <!-- サクセスメッセージ -->
			<div class="flash">
				<%= flash[:notice] %>
			</div>
		<% end %>
		<div class="col-sm-12">
			<!-- スライド -->
			<div id="container">
				<div id="theTarget">
<!-- 					<div class="image1"></div>
					<div class="image2"></div>
					<div class="image3"></div> -->
					<div style="background-image: url(/images/image1.jpg)"></div>
					<div style="background-image: url(/images/image2.jpg)"></div>
					<div style="background-image: url(/images/image3.jpg)"></div>
				</div>
		    </div>
<!--   <script src="javescripts/jquery.min.js"></script>
  <script src="javescripts/skippr.min.js"></script>
  <script src="javescripts/application.js"></script> -->
		</div>
	</div>
	<div class="row">
		<div class="col-sm-3">
			<%= render 'posts/tag_list', tag_list: @tag_list %>
		</div>
		<div class="col-sm-9">
			<p style="background-color: green;">投稿４つぐらい表示する</p>
		</div>
	</div>
</div>