<div class="container">
	<div class="row">
		<div class="col-sm-3">
			<%= render 'posts/tag_list', tag_list: @tag_list %>
		</div>
		<div class="col-xs-12 col-sm-9">

			<!-- サクセスメッセージ -->
			<% if flash[:notice] %>
				<div class="flash">
					<%= flash[:notice] %>
				</div>
			<% end %>

			<h4>投稿一覧</h4>
			<div id="post_lists">
				<%= render 'post_list', post: @posts %>
			</div>
			<div class="more text-right">
				<%= link_to_next_page @posts, 'もっと見る', remote: true, id: 'view_more' %>
			</div>
		</div>
	</div>
</div>